<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
	<title>{{ pageTitle }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://fonts.googleapis.com/css?family=KoHo:200,300,400" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	 crossorigin="anonymous" /> {{#if productCss}}
	<link rel="stylesheet" type="text/css" media="screen" href="/css/product.css" /> 
	{{else if registerCss}}
	<link rel="stylesheet" type="text/css" media="screen" href="/css/register.css" />
	{{else if orderCss}}
	<link rel="stylesheet" type="text/css" media="screen" href="/css/order.css" /> 
	{{else if cartCss}}
	<link rel="stylesheet" type="text/css" media="screen" href="/css/cart.css" /> 
	{{else if homeCss}}
	<link rel="stylesheet" type="text/css" media="screen" href="/css/home.css" /> {{else if shopCss}}
	<link rel="stylesheet" type="text/css" media="screen" href="/css/shop.css" />
	{{else if loginCss}}
	<link rel="stylesheet" type="text/css" media="screen" href="/css/login.css" />
	 {{else}}
	<link rel="stylesheet" type="text/css" media="screen" href="/css/error.css" />{{/if}}
	<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />